@import 'colors';
//scroll behavior
html {
  scroll-behavior: smooth;
}

//loader

.loader-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1021;
  &__content {
    background: $secondary;
    padding: 10px;
    opacity: 1;
    border-radius: 5px;
  }
}

//nav scss

.navbar-main {
  background: $secondary-light;
  position: relative;
  padding: 10px;
  .container {
    .navbar-brand {
      img {
        height: 40px;
        @media only screen and (max-width: 500px) {
          height: 30px;
        }
      }
    }
    .navbar-collapse {
      .navbar-nav {
        a:not(.dropdown-toggle):not(.dropdown-item) {
          color: $primary;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 0.88rem;
          padding-left: 0.88rem;
          padding-right: 0.88rem;
          position: relative;
          &:hover {
            color: darken($primary, 30%);
            background: $secondary-light;
            &:after {
              content: '';
              border-bottom: 4px solid #f49512;
              display: block;
              position: absolute;
              bottom: -16px;
              width: 100%;
              right: 0px;
              left: 0px;
            }
          }
          @media only screen and (max-width: 990px) {
            &:hover {
              &:after {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}
.dropdown-item {
  font-weight: 600;
}
.dropdown-item.active,
.dropdown-item:active {
  background: $secondary-light;
  &:focus {
    color: $primary;
  }
}
.navbar-light .navbar-toggler {
  border: none;
  &:focus {
    outline: none;
  }
}

//cover scss

.cover-container {
  background: url('./../../assets/images/cover.svg') no-repeat;
  background-size: cover;
  min-height: 90vh;
}
.converinfo {
  &-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
    &__title {
      color: white;
      font-family: $lora;
      font-weight: 400;
      letter-spacing: 3.84px;
    }
    &__subtitle {
      color: white;
      font-size: 1rem;
      font-family: $roboto;
      letter-spacing: 1px;
      word-spacing: 1.5px;
      line-height: 1.5rem;
      font-weight: 300;
      text-align: justify;
    }
  }
}

//services

.services-container {
  min-height: 90vh;
  position: relative;
  padding: 50px 0;
  &__highlighter {
    background: $secondary-2;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25vw;
    height: 100%;
    z-index: -1;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.15);
  }
  &__title {
    color: $dark;
    font-family: $lora;
    font-weight: 600;
    letter-spacing: 4.96px;
    text-transform: uppercase;
  }
  &__subtitle {
    text-align: left;
    word-spacing: 2.88px;
    font-family: $roboto;
    font-weight: 400;
  }
}
//service card
.services-card {
  text-align: center;
  background: white;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 3px 3px 12px #00000029;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img {
    width: 80px;
  }
  p {
    margin-top: 10px;
    font-weight: bold;
  }
}
//how we work
.how-we-work {
  &__container {
    min-height: 540px;
    position: relative;
    padding: 50px 0;
    h1 {
      text-align: center;
      font-family: $lora;
      text-transform: uppercase;
      margin-bottom: 20px;
      margin-top: 30px;
    }
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  &__card {
    max-width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    &__image-wrapper {
      height: 150px;
      width: 150px;
      border-radius: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 3px 3px 28px #00000029;
      border: 4px dashed transparent;
      stroke-dasharray: 40px;
      transition: all 0.8s ease-in;
      &:hover {
        border: 4px dashed $secondary;
      }
      img {
        width: 80px;
      }
    }
    &__title {
      text-align: center;
      margin-top: 20px;
      letter-spacing: 2.88px;
      font-family: $roboto;
      font-size: 0.88rem;
      font-weight: bold;
    }
    &__details {
      text-align: center;
      font-size: 0.75rem;
      font-family: $roboto;
      width: 90%;
      margin: 0 auto;
      line-height: 1rem;
      letter-spacing: 1.92px;
    }
  }
}
//projects
.projects {
  &__title {
    font-weight: bold;
    font-family: $lora;
    font-size: 2rem;
    letter-spacing: 4.96px;
  }
  &__container {
    min-height: 630px;
    position: relative;
    padding: 50px 0 80px;
    background: $secondary-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    .carousel {
      width: 100%;
      margin: 10px;
      .carousel-item {
        padding-left: 20px;
        padding-right: 20px;
      }
      .carousel-indicators {
        bottom: -50px;
        li {
          box-sizing: content-box;
          flex: 0 1 auto;
          width: 10px;
          height: 10px;
          background-color: white;
          background-clip: padding-box;
          opacity: 1;
          transition: opacity 0.6s ease;
          border-radius: 285px;
          border: 1px solid $primary;
        }
        .active {
          background: $primary;
        }
      }
    }
  }
}
.project-carousel {
  background: white;
  width: 100%;
  box-shadow: 5px 3px 10px #00000029;
  border-radius: 20px;
  margin: 30px auto 10px;
  min-height: 400px;
  padding: 50px;
  &__title {
    font-family: $lora;
  }
  &__subtitle {
    font-family: $roboto;
    letter-spacing: 1.92px;
  }
}

//clients
.clients-container {
  min-height: 300px;
  position: relative;
  padding: 60px 0 30px;
  p {
    text-align: center;
    font-family: $lora;
    letter-spacing: 4.96px;
    font-size: 2.6rem;
    font-weight: bold;
  }
}
.client-carousel {
  width: 200px;
  img {
    margin: 0 auto;
    text-align: center;
  }
}
.slick-next::before,
[dir='rtl'] .slick-prev::before {
  content: '' !important;
}
.slick-next {
  right: 5px;
  z-index: 999;
}
.slick-prev {
  left: 5px;
  z-index: 999;
}

.feedback-container {
  padding: 20px 30px 50px;
  &__title {
    font-family: $lora;
    font-size: 2rem;
  }
  &__subtitle {
    color: $primary;
    font-size: 1rem;
    font-weight: normal;
    font-family: $lora;
    line-height: 1.8rem;
  }
}
.feedback-users-card {
  border: 1px solid $secondary;
  background: white;
  width: 100%;
  min-height: 200px;
  padding: 20px;
  transition: all 0.5s ease-in;
  &__author-name {
    letter-spacing: 2px;
    font-family: $roboto;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  &__author-details {
    font-family: $roboto;
    letter-spacing: 1.92px;
  }
  &__author-feedback {
    letter-spacing: 1.92px;
    line-height: 1.5rem;
  }
}
.feedback-nav {
  margin-top: 20px;
  &__left-icon {
    width: 40px;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  &__right-icon {
    width: 40px;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}
.get-in-touch {
  &__container {
    padding: 40px 0px;
    background: $secondary-light;
  }
  &__title {
    letter-spacing: 3.84px;
    font-family: $lora;
    font-weight: 500;
    color: $primary;
    font-size: 2rem;
  }
  &__subtitle {
    letter-spacing: 1.84px;
    font-family: $lora;
    color: $primary;
    font-size: 0.88rem;
    line-height: 2rem;
  }
  &__c2a-button {
    width: 230px;
    cursor: pointer;
    transition: all 0.5s ease-in;
    transform: scale(1);
    box-shadow: 0px 0px 5px rgba(244, 149, 18, 0.57);
    &:hover {
      transform: scale(1.05);
    }
  }
}
//footer

.footer {
  &__container {
    background: $primary-dark;
    color: white;
    padding: 80px 0 50px;
  }
  &__logo {
    width: 400px;
  }
  &__subtitle {
    font-size: 0.65rem;
    color: white;
    text-align: left;
    font-style: Italic;
    font-family: $roboto;
    letter-spacing: 4.05px;
    margin-top: 10px;
  }
  &__social-links {
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
    @media only screen and (max-width: 720px) {
      justify-content: center;
    }
    width: 100%;
    li {
      margin-right: 1rem;
      margin-left: 1rem;
      cursor: pointer;
    }
  }
  &__nav-header {
    font-weight: bold;
    font-family: $lora;
    font-size: 1rem;
    border-bottom: 3px solid $secondary;
    color: white;
    padding-bottom: 20px;
    @media only screen and (max-width: 720px) {
      margin-top: 50px;
    }
  }
  &__nav-list {
    a {
      color: white;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
//sticky
.sticky-scroll-to-top {
  &__button {
    background: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    img {
      width: 30px;
    }
    p {
      margin: 5px 0 0 0;
      padding: 0;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-family: $roboto;
      font-weight: 500;
    }
  }
}
